.html_shopList {
	position: relative;
	min-height: 100%;
	margin: 0;
	background: #fff;
}

.body_shopList {
	background-color: #ffcc66;
	min-height: 100%;
}

.shoplist_div {
	border-top: 50px solid #fff;
	border-left: 100px solid #fff;
	border-right: 100px solid #fff;
	background-color: #fff;
	width: 80%;
	height: 1100px;
	margin-top: 10px;
	margin-left: 10%;
	margin-right: 10%;
}

.content {
	width: 90%;
	height: 100%;
	margin: 0 auto;
}

.fixed_img_col {
	
}

.fixed_img_col ul {
	padding-bottom: 20px;
	border-bottom: 1px solid #ffcc66;
	*zoom: 1;
}

.fixed_img_col ul:after {
	content: '';
	display: block;
	clear: both;
}

.fixed_img_col li {
	position: relative;
	top: 10px;
	float: left;
	width: 20%;
	height: 420px;
	border-bottom: 1px solid #ffcc66;
	padding: 20px 15px 0px 15px;
}

.fixed_img_col li a {
	display: block;
	color: #333;
	text-decoration: none;
}

.fixed_img_col li a .thumb {
	display: block;
	position: relative;
	background-color: #ededed;
	text-align: center;
	line-height: 300px;
}

.fixed_img_col li a .thumb img {
	width: 90%;
	height: 90%;
}

.fixed_img_col li a .thumb em {
	display: none;
	opacity: .6;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	background-color: #000;
	color: #fff;
	font-weight: bold;
	font-family: verdana, sans-serif;
}

.fixed_img_col li a:hover .thumb em {
	display: block;
}

.fixed_img_col li a strong {
	display: block;
	padding: 6px 0 2px;
	/*text-decoration: underline;*/
	line-height: 1.4;
}

.fixed_img_col li a:hover strong {
	text-decoration: underline;
}

.fixed_img_col li p {
	color: #666;
	font-size: .9em;
}

.content .paragraph {
	padding: 5px 0;
}