.content{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 5%;
}
.cardtitle{
    font-weight: bold;
}
.thead{
    font-weight:bold;
    color:rgb(117, 117, 117);
}