* {
	margin: 0;
	padding: 0;
}
.boardmenu {
	font: bold "malgun gothic";
	height: 50px;
}
.boardmenu>a {
    text-decoration: none;
	color: #fff;
}
.boardmenu_div {
	border-top: 5px solid #ffcc66;
	border-left: 175px solid #ffcc66;
	border-right: 175px solid #ffcc66;
	margin: 0;
	width:100%;
	height:20px;
	text-align: left;
	background:#ffcc66;
}

.boardWriteForm_div{
  border-top: 50px solid #fff;
  border-left: 100px solid #fff;
  border-right: 100px solid #fff;
  background-color: #fff;
  width:80%;
  height:800px;
  margin-top: 10px;
  margin-left: 10%;
  margin-right: 10%;
}
.table-common>table {
	width: 100%;
	border-collapse: collapse;
}
.table-common .btn-box {
	text-align:center;
}
.table-common>table th, .table-common>table td {
	border: 1px solid black;
	padding: 10px;
}
.article-list table {
    border:none;   
    border-top:2px solid white;
    border-bottom:2px solid lightgray;
}
.article-list > table th, .article-list > table td {
    border:none;
}
.article-list > table td {
    border-bottom:1px solid lightgray;
}
.article-list > table thead {
    border-bottom:2px solid lightgray;
    font:bold;
}