
@import url(https://fonts.googleapis.com/css?family=Roboto:300);


_main {

    position: relative;

    min-height: 100%;

    margin: 0;


    background-color: #fff;
    min-height: 100%;
}

body {
    background-color: #fff;
    min-height: 100%;
}

#footer_div {
    width:100%;
    height:200px;
    padding-top: 40px;
    padding-bottom: 20px;
    border-top: 2px solid #ccc;
    background-color: #fff;
    text-align: center;

}

.blank_div {
    height:400px;
    width:100%;
}

.e {
    font-family: 'Oswald', sans-serif;
    font-size: x-large;
}
.settle {
    margin-left:10px;
    margin-right:10px;
    font-size: x-large;
}

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #ffcc66;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background: #ff9900;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: #ffcc66;
    text-decoration: none;
}
.form .register-form {
    display: none;
}



.login_top_div{
    width:100%;
    border-top:7px solid #fff;
    border-bottom:7px solid #fff;
}

.login_top{
    text-align: right;
    width:100%;
    padding-right:15%
}

.font_white {
    color: #333;
}

.wrap {
    background-color: #fff;
    width:100%;
}

.bg-my {
    background-color: #ffcc66;
}

#loginBtn {
    display: inline-block;
    width: 120px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    outline: none;
    background-color: #fff;
    border: 2px solid #ffcc66;
    color: #333;
    line-height: 36px;
}

#loginBtn:hover {
    background-color: #ffcc66;
    border-color: #fff;
    color: #fff;
}

#loginBtn::before, #loginBtn::after {
    position: absolute;
    z-index: -1;
    display: block;
    content: '';
}

#loginBtn, #loginBtn::before, #loginBtn::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}

* {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

.logo {
    font-family: 'Oswald', sans-serif;
    font-size: x-large;
    text-decoration: none;
    color: #fff;
}

.logo:hover {
    text-decoration: none;
    color: #fff;
}

#menu {
    font: bold 16px "malgun gothic";
    width: 24%;
    height: 50px;
    background: #ffcc66;
    color: #ffcc66;
    line-height: 50px;
    margin: 0 auto;
    text-align: center;
    color: #ffcc66;
}

#menu>li {
    float: left;
    width: 33.3%;
    position: relative;
}
#menu>li>a {
    text-decoration: none;
    color: #fff;
}

#menu>li>ul>li>a {
    text-decoration: none;
    color: #fff;
}

#menu>li>ul>li:hover>a {
    text-decoration: none;
    color: #333;
}

#menu>li>ul {
    width: 100%;
    display: none;
    position: absolute;
    font-size: 14px;
    background: #ffcc66;
    z-index:10;
}

#menu>li:hover>ul {
    display: block;
}

#menu>li>ul>li:hover {
    background: #fff;

    transition: ease 0.3s;
}

.navbox {
    width:20%;

    margin-right:15%;
    margin-left:15%;
}
.navbar{
    position:relative;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -ms-flex-align:center;
    align-items:center;
    -ms-flex-pack:justify;
    justify-content:space-between;
    padding:.5rem 1rem
}

.nav_mybar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffcc66;
    padding: 8px 12px;
}

.nav_mylogo {
    font-size: 24px;
    color: #fff;
}