.left{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 30px;
    cursor: pointer;
}

.Btn{
    background-color: #ffcc66;
    color: white;
    font-size: 20px;
    padding: 8px 40px;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
    border: none;
    margin-right: 130px;
}
