.html_home {
	position: relative;
	min-height: 100%;
	margin: 0;
	background: #fff;
}

.body_home {
	background-color: #ffcc66;
	min-height: 100%;
}


.home_event {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 8%;
	padding-right: 8%;
	margin: 0;
	width: 100%;
	text-align: center;
	background: url(../img/bg5.png);
	background-size: none;
}

.line_10 {
	padding-top: 7px;
	margin: 0;
	width: 100%;
	text-align: center;
	background: #ffcc66;
	background-size: none;
}

.shoplist_div {
	border-top: 50px solid #fff;
	border-left: 100px solid #fff;
	border-right: 100px solid #fff;
	background-color: #fff;
	width: 70%;
	height: 1100px;
	margin-top: 10px;
	margin-left: 15%;
	margin-right: 15%;
}

.content {
	width: 90%;
	height: 100%;
	margin: 0 auto;
}

.fixed_img_col {
	
}

.fixed_img_col ul {
	padding-bottom: 20px;
	border-bottom: 1px solid #ffcc66;
	*zoom: 1;
}

.fixed_img_col ul:after {
	content: '';
	display: block;
	clear: both;
}

.fixed_img_col li {
	position: relative;
	top: 10px;
	float: left;
	width: 25%;
	height: 420px;
	border-bottom: 1px solid #ffcc66;
	padding: 20px 15px 0px 15px;
}

.fixed_img_col li a {
	display: block;
	color: #333;
	text-decoration: none;
}

.fixed_img_col li a .thumb {
	display: block;
	position: relative;
	background-color: #ededed;
	text-align: center;
	line-height: 300px;
}

.fixed_img_col li a .thumb img {
	width: 90%;
	height: 90%;
}

.fixed_img_col li a .thumb em {
	display: none;
	opacity: .6;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	background-color: #000;
	color: #fff;
	font-weight: bold;
	font-family: verdana, sans-serif;
}

.fixed_img_col li a:hover .thumb em {
	display: block;
}

.fixed_img_col li a strong {
	display: block;
	padding: 6px 0 2px;
	/*text-decoration: underline;*/
	line-height: 1.4;
}

.fixed_img_col li a:hover strong {
	text-decoration: underline;
}

.fixed_img_col li p {
	color: #666;
	font-size: .9em;
}

.content .paragraph {
	padding: 5px 0;
}

.slide {
	display: inline-block;
	width: 100%;
	height: 800px;
	position: relative;
	overflow: hidden;
}

.slide ul {
	width: 400%;
	height: 100%;
	transition: 1s;
}

.slide ul:after {
	content: "";
	display: block;
	clear: both;
}

.slide li {
	float: left;
	width: 25%;
	height: 100%;
}

.slide li:nth-child(1) {
	background: url(../img/home.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.slide li:nth-child(2) {
	background: url(../img/launching.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.slide li:nth-child(3) {
	background: url(../img/sup.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.slide li:nth-child(4) {
	background: #aaf;
}

.slide input {
	display: none;
}

.slide label {
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 10px;
	border: 2px solid #666;
	background: #fff;
	transition: 0.3s;
	border-radius: 50%;
	cursor: pointer;
}

.slide .pos {
	text-align: center;
	position: absolute;
	bottom: 10px;
	left: 0;
	width: 100%;
	text-align: center;
}

#pos1:checked ~ul {
	margin-left: 0%;
}

#pos2:checked ~ul {
	margin-left: -100%;
}

#pos3:checked ~ul {
	margin-left: -200%;
}

#pos4:checked ~ul {
	margin-left: -300%;
}

#pos1:checked ~.pos>label:nth-child(1) {
	background: #666;
}

#pos2:checked ~.pos>label:nth-child(2) {
	background: #666;
}

#pos3:checked ~.pos>label:nth-child(3) {
	background: #666;
}

#pos4:checked ~.pos>label:nth-child(4) {
	background: #666;
}


















